<div class="row">
    <div class="col-md-6">
        <h2>Books</h2>
        <div class="well">
            <h3>How to request books</h3>
            <p>Email Tom Luong with the following information:</p>
            <ul>
                <li>Title</li>
                <li>Online URL to buy (prefer Amazon.ca)</li>
                <li>Why did you pick this title? What are the benefits for you and Q4? (for aprroval purposes)</li>
            </ul>
            There will be more information about borrowing the books home. Stay tuned.
        </div>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let book of books | realBook ">
                <fw-book [book]="book"></fw-book>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Ebooks</h2>
        <div class="well">
            <h3>How to donate ebooks</h3>
            <p>Email Tom Luong the PDF file (use Google Drive as attachment feature).</p>
        </div>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let book of books | ebook">
                <fw-book [book]="book"></fw-book>
            </li>
        </ul>
    </div>
</div>

<p>{{errorMessage}}</p>