.book {
    display: flex;
    flex-direction: row;
}

.book .book-cover {
    margin-right: 10px;
}

.book .book-cover img {
    border: 1px solid #999;
    padding: 2px;
}

.book .book-details .book-title {
    font-size: 20px;
}

.book .book-details .book-authors {
    color: #888;
}